.article-sider-button{
    position: relative;
}
.hamburger{
    &,&::before,&::after{
        width: 2rem;
        height: .1rem;
        background-color: #fff;
        content: '';
        position: relative;
        transition: all .2s;
    };
    &::before,&::after{
        transition: all .2s;
        position: absolute;
        left: 0;
    };
    &::before{
        top: calc((1 - var(--sider-open)) * .6rem);
        transform: rotate(calc(var(--sider-open) * 45deg)) ;
    };
    &::after{
        top: calc((1 - var(--sider-open)) * -.6rem);
        transform: rotate(calc(var(--sider-open) * -45deg))
    };
    &{
        height: calc((1 - var(--sider-open)) * 1px);
    }
}
.folder-title{W
    &:hover{
        
    }
}
.folder-header{
    &:hover{
        background-color: var(--secondary-color-light);
    }
}
.article-sider-item{
    &:hover{
        background-color: var(--secondary-color-light);
    }
}